{% load bootstrap4 %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="'utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1,shrink-to-fit=no">
    <title>Book Share</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-0 py-0 border">

        <a class="navbar-brand" href="{% url 'content:index' %}">
            <div class="logo-image">
                <img src="https://imgtr.ee/images/2023/02/13/ObWsU.png" class="img-fluid">
            </div>
        </a>
        <a class="navbar navbar-brand navbar-light bg-dark" href="{% url 'content:index' %}">Book Share</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="navbar navbar-secondary navbar-light bg-dark text-nowrap" href="{% url 'content:titles' %}">
                        &raquo;Check out Books&raquo;</a>
                </li>
            </ul>


            <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'content:search' %}" >
                {% csrf_token %}
                <input class="form-control mr-sm-3" type="search" name="search" placeholder="Search by title">
                <button class="btn btn btn-outline-info my-2 my-sm-0" type="submit"> Search </button>
            </form>

            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text text-nowrap" >Hello, {{ user.username }}.</span>
                    </li>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <li class="nav-item">
                        <a class="nav-link text-nowrap" href="{% url 'users:logout' %}">Log out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </nav>
    <main role="main" class="container">
        <div class="p-3 mb-2 bg-light">
            {% block page_header %}{% endblock page_header %}
        </div>
        <div class="pb-3 mb-2 bg-light">
            {% block content %}{% endblock content %}
        </div>
    </main>

</body>
</html>