{% extends 'content/base.html' %}

{% block page_header %}
    <h3>{{ title }}</h3>
    <h6>&raquo;&raquo;{{ user_exp }}&laquo;&laquo;</h6>
{% endblock page_header %}

{% block content %}

{% if read_only %}
    {% if is_favorite %}
        <a class="btn btn-lg btn-danger" href="{% url 'content:add_or_remove_favorite' title.id %}" role="button">
            Remove favorite</a>
    {% else %}
        <a class="btn btn-lg btn-success" href="{% url 'content:add_or_remove_favorite' title.id %}" role="button">
            Add to favorite</a>
    {% endif %}

    {% for entry in entries %}
        <div class="card mb-3">
            <h4 class="card-header">
                Posted at --{{ entry.date_added|date:'M d, Y H:i' }}

            </h4>
            <div class="card-body">
                {{ entry.text|linebreaks }}
            </div>
        </div>
    {% empty %}
        <p>There are no entries for this book yet.</p>
    {% endfor %}

{% else %}
    <a class="btn btn-lg btn-success" href="{% url 'content:new_entry' title.id %}" role="button">
        Add a new entry</a>
    {% for entry in entries %}
        <div class="card mb-3">
            <h4 class="card-header">
                Posted at --{{ entry.date_added|date:'M d, Y H:i' }}
                <small><a class="btn btn-warning" href="{% url 'content:edit_entry' entry.id %}"
                    role="button">Edit entry</a> </small>
                <small><a class="btn btn-danger" href="{% url 'content:delete_entry' entry.id %}
"                   role="button">Delete entry</a> </small>
            </h4>
            <div class="card-body">
                {{ entry.text|linebreaks }}
            </div>
        </div>
    {% empty %}
        <p>There are no entries for this book yet.</p>
    {% endfor %}
{% endif %}

<a class="btn btn-lg btn-dark" href="{% url 'content:my_favorite' %}" role="button">To my favorites &raquo;</a>
<br><br>
<a class="btn btn-lg btn-dark" href="{% url 'content:titles' %}" role="button">Back to book list &raquo;</a>
<br><br>
<a class="btn btn-lg btn-dark" href="{% url 'content:index' %}" role="button">Home page &raquo;</a>

{% endblock content %}