{% extends 'content/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    <h1>Are you sure you want to delete this note?</h1>
    <h4 class="text-danger">It cannot be undone.</h4>
{% endblock page_header %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        {% buttons %}
            <button name="submit" class="btn btn-lg btn-danger">Confirm Delete</button>
        {% endbuttons %}

         <input type="hidden" name="next" value="{% url 'content:book' title.id %}" />
    </form>

    <a class="btn btn-lg btn-dark" href="{% url 'content:book' title.id %}">Cancel</a>
{% endblock content %}