{% extends 'content/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    <p><a href="{% url 'content:book' title.id%}">{{ book }}</a></p>

    <h1>Edit entry:</h1>
{% endblock page_header %}

{% block content %}

    <form method="post" action="{% url 'content:edit_entry' entry.id %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-warning">Change</button>
        {% endbuttons %}

        <input type="hidden" name="next" value="{% url 'content:book' title.id %}" />
    </form>

    <a class="btn btn-lg btn-dark" href="{% url 'content:book' title.id %}">Go back &raquo;</a>
{% endblock content %}