{% extends 'content/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    <h1>Your Favorite Collection</h1>
{% endblock page_header %}

{% block content %}

<div class="jumbotron">
    <h4 class="text-info">Here are the books titles:</h4>

    <ul>
        {% for title in my_favorite %}
            <li><h3>
                <a class="font-italic" href="{% url 'content:book' title.id %}">{{ title }}

                </a>
            </h3></li>
        {% empty %}
            <li><h5 class="text-info">You have not added any favorite books to your collection yet.</h5></li>
        {% endfor %}
    </ul>

</div>

<br><br><a class="btn btn-lg btn-dark" href="{% url 'content:index' %}" role="button">Home Page &raquo;</a>


{% endblock content %}