{% extends 'content/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    <h1>Add a new book:</h1>
{% endblock page_header %}

{% block content %}

    <p>Do you want this post to be seen by all users? If so, check "Public".</p>
    <form method='post' action="{% url 'content:new_book' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value=True id="public" hidden="hidden"/>
            <label class="form-check-label" for="public">Make post public?</label>

        </div>
        <br>
        {% buttons %}
            <button name="submit" class="btn btn-success">Add</button>
        {% endbuttons %}
    </form>

    <a class="btn btn-lg btn-dark" href="{% url 'content:titles' %}">Go back &raquo;</a>



{% endblock content %}